<!-- Ignores default margins on the template -->
<!-- style="width: 100vw; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw; color: white;" -->
<footer class="font-sm text-sm shadow-lg bg-neutral-900 relative w-screen inset-1/2 mx-auto text-[#ffffff]">
  <div class="flex flex-col justify-between max-w-[1124px] m-auto">
  <div id="flex_container" class="flex justify-between items-center px-2 py-3">
    <div id="title_footer">
      <p id="title_text" class="text-xl font-medium"> KSCU 103.3FM </p>
      <p id="title_text"> Santa Clara University Radio</p>
    </div>
    <!-- style="text-align: center;" -->
    <div class="text-center;">
      <p>
        General Inquiries: coordinating@kscu.org
      </p>
      <p>
        Submit Music: music@kscu.org
      </p>
    </div>
    <div id="address">
      <p> Santa Clara University </p>
      <p> 500 El Camino Real, Santa Clara </p>
    </div>
  </div>
  <!-- style = "background-color: white; height: 0.1rem;"-->
  <div class="bg-[#ffffff] h-[0.1rem]]"></div>
  <div id="bottom_footer" class="flex justify-between items-center px-3">
    <div id="social_icons" class="flex py-2">
      <div class="flex">
        <a href="https://www.instagram.com/kscuradio/?hl=en" target="_blank">
          <!-- style="font-size: 24px; color: white;"-->
          <i class="fa fa-instagram px-2 text-2xl text-[#ffffff]"></i>
        </a>
        <a href="https://twitter.com/kscu" target="_blank">
          <!-- style="font-size: 24px; color: white;"-->
          <i class="fa fa-twitter px-2 text-red text-2xl"></i>
        </a>
        <a href="https://open.spotify.com/user/kscu" target="_blank">
          <!-- style="font-size: 24px; color: white;"-->
          <i class="fa fa-spotify px-2 text-2xl text-white"></i>
        </a>
      </div>
    </div>
    <p id="copyright"> Copyright &#169 2022 </p>
  </div>

</div>
<style>
  @media (min-width: 751px) {
    #address {
      text-align: right;
    }

    #title_footer {
      margin-left: 1.5rem;
    }

    #address {
      margin-right: 1.5rem;
    }

    #social_icons {
      margin-left: 1.5rem;
    }

    #copyright {
      margin-right: 1.5rem;
    }
  }

  @media (max-width: 750px) {
      #flex_container {
        flex-direction: column;
      }
      #title_footer {
        display: flex;
        align-items: center;
      }
      #title_text {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      #address {
        text-align: center;
      }

      #social_icons {
      margin-left: 1.5rem;
      }

      #copyright {
        margin-right: 1.5rem;
      }
    }

  @media (max-width: 450px) {
    #title_footer {
      flex-direction: column;
      text-align: center;
    }
    
    #flex_container {
      text-align: center;
    }
    
    #bottom_footer {
      flex-direction: column;
    }
  }
</style>
</footer>
