<!-- Ignores default margins on the template -->
<footer class="font-sm text-sm shadow-lg" style="
  background-color: black;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  color: white;
">
<div class="flex flex-col">
  <div class="flex justify-between items-center px-2 py-3">
    <div style="margin-left: 1.5rem;">
      <p class="text-xl font-medium"> KSCU 103.3FM </p>
      <p class=""> Santa Clara University Radio</p>
    </div>
    <div style="text-align: center;">
      <p>
        General Inquiries: coordinating@kscu.org
      </p>
      <p>
        Submit Music: music@kscu.org
      </p>
    </div>
    <div style="text-align: right; margin-right: 1.5rem;">
      <p> Santa Clara University </p>
      <p> 500 El Camino Real, Santa Clara </p>
      <p> CA, 95035 </p>
    </div>
  </div>
  <div style="
    background-color: white;
    height: 0.1rem;
  "></div>
  <div class="flex justify-between items-center px-3">
    <div class="flex py-2" style="margin-left: 1rem;">
      <div class="flex" style="padding-right: 1.5rem">
        <a href="https://www.instagram.com/kscuradio/?hl=en" target="_blank">
          <i class="fa fa-instagram px-2" style="font-size: 24px; color: white;"></i>
        </a>
        <a href="https://twitter.com/kscu" target="_blank">
          <i class="fa fa-twitter px-2" style="font-size: 24px; color: white;"></i>
        </a>
        <a href="https://open.spotify.com/user/kscu" target="_blank">
          <i class="fa fa-spotify px-2" style="font-size: 24px; color: white;"></i>
        </a>
      </div>
    </div>
    <p style="margin-right: 1.5rem;"> Copyright &#169 2022 </p>
  </div>

</div>

</footer>
