{{ if .Site.Params.homepage.showRecent | default false }}
{{/*  <div class="font-semibold text-4xl py-3" style="color: black">
  <div style="
        line-height: 0.1em;
        border-bottom: 1px solid black;
      ">
    <span style="
            background-color: white;
            padding:0 10px">
      Recent Posts
    </span>
  </div>
</div>  */}}
<div>
  <div class="font-semibold text-2xl py-3 px-3 border">
    <a href="/blog/">
      <span class="hover:underline hover:decoration-wavy hover:decoration-1 hover:underline-offset-2 hover:text-gray-400">
        Recent Blogposts
      </span>
    </a>
  </div>
</div>
<div id="articles" class="flex justify-between content-evenly px-3" 
style="padding-bottom: 2rem; margin-bottom: 2rem; border-style: solid; border-width: 0px 1px 1px 1px;">
{{ range first 3 (.Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections)).Pages }}
{{ partial "article-links-horizontal.html" . }}
{{ end }}
{{ end }}
</div>

<style>
  @media (max-width: 1000px) {
    #articles {
      flex-direction: column;
    }
  }
</style>