{{ if .Site.Params.homepage.showRecent | default false }}
{{/* <div class="font-semibold text-4xl py-3" style="color: black">
  <div style="
        line-height: 0.1em;
        border-bottom: 1px solid black;
      ">
    <span style="
            background-color: white;
            padding:0 10px">
      Recent Posts
    </span>
  </div>
</div> */}}
<div class="flex shrink">
  <div id=spins-header-box class="flex shrink border border-b-0">
    <p id="spins-header-2" class="mx-3 my-2" style="
                                      font-style: normal;
                                      font-weight: 700;
                                      font-size: 18px;
                                      line-height: 20px;
          
                                      display: flex;
                                      align-items: center;">RECENT BLOGPOSTS</p>
  </div>
</div>
<div id="articles" class="flex justify-between content-evenly px-3 border">
  {{ range first 3 (.Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections)).Pages }}
  {{ partial "article-links-horizontal.html" . }}
  {{ end }}
  {{ end }}
</div>

<style>
  @media (max-width: 1000px) {
    #articles {
      flex-direction: column;
    }
  }
</style>