<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');
</style>

<div id="show-details-body" class="flex shrink-0 font-medium text-sm z-9">
    <div id="section-collapsible" class="pt-7 pb-2 max-w-6xl m-auto">
        <div class="flex shrink-0 justify-between items-center overflow-hidden">
            <div id="two-cols" class="flex grow flex-row justify-between">
                <div id="left-col" class="flex grow flex-col mr-8 ml-6 min-w-[400px]">
                    <div id="left-top" class="flex flex-row justify-between">
                        <div class="flex border border-b-0">
                            <p id="left-header-box" class="mx-2 my-1" style="
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 20px;

                            display: flex;
                            align-items: center;">LIVE NOW</p>
                        </div>
                        <div id="left-top" class="flex">
                            <div class="flex shrink border border-b-0">
                                <p id="left-ascii" class="mx-2 my-1" style="
                                                    font-style: normal;
                                                    font-weight: 700;
                                                    font-size: 14px;
                                                    line-height: 20px;
                        
                                                    display: flex;
                                                    align-items: center;"></p>
                            </div>
                        </div>
                    </div>
                    <div id="row-incl-image" class="flex flex-row justify justify-between border">
                        <div class="flex grow flex-col">
                            <div class="flex flex-col border-b-[1px]">
                                <p id="left-show" class="ml-2 mt-2" style="
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 23px;
                                    line-height: 28px;
                                    "></p>
                                <p id="left-dj" class="ml-2 mb-2" style="
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 18px;
                                    line-height: 28px;
                                    "></p>
                            </div>
                            <div class="flex flex-col shrink">
                                <p id="left-time" class="flex grow ml-2 mt-2 mb-1 uppercase" style="
                                    align-items: center;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 20px;
                                    "></p>
                                <p id="left-genre" class="flex grow ml-2 mb-1 uppercase" style="
                                    align-items: center;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 20px;
                                    color: #252525;
                                    "></p>
                            </div>
                        </div>
                        <div class="border border-l-2" style="width: 130px; height: 130px; overflow: hidden;">
                            <img id="left-image" class="object-scale-down" src=""
                                style="width: 100%; height: 100%;margin: auto;display: block;">
                        </div>
                    </div>
                    <div id="left-description-div" class="inline-flex grow-0 text-wrap border border-t-0"
                        style="display: none;">
                        <p id="left-description" class="my-1 mx-2" style="
                                                            font-family: 'Roboto Condensed';
                                                            font-style: normal;
                                                            font-weight: 400;
                                                            font-size: 15px;
                                                            line-height: 20px;
                                                            width: fit-content;
                                                            display: inline-block;
                                                            "></p>
                    </div>
                </div>
                <div id="right-col" class="flex grow flex-col mr-6 ml-8 min-w-[400px]">
                    <div id="right-top" class="flex flex-row justify-between">
                        <div class="flex shrink border border-b-0">
                            <p id="right-header-box" class="mx-2 my-1" style="
                                            font-style: normal;
                                            font-weight: 700;
                                            font-size: 14px;
                                            line-height: 20px;
                
                                            display: flex;
                                            align-items: center;">UP NEXT ON KSCU</p>
                        </div>
                        <div class="flex">
                            <div class="flex shrink border border-b-0">
                                <p id="right-ascii" class="mx-2 my-1" style="
                                                                    font-style: normal;
                                                                    font-weight: 700;
                                                                    font-size: 14px;
                                                                    line-height: 20px;
                                        
                                                                    display: flex;
                                                                    align-items: center;"></p>
                            </div>
                        </div>
                    </div>
                    <div id="right-row-incl-image" class="flex flex-row justify justify-between border">
                        <div class="flex grow flex-col">
                            <div class="flex flex-col border-b-[1px]">
                                <p id="right-show" class="ml-2 mt-2" style="
                                                    font-style: normal;
                                                    font-weight: 700;
                                                    font-size: 23px;
                                                    line-height: 28px;
                                                    "></p>
                                <p id="right-dj" class="ml-2 mb-2" style="
                                                    font-style: normal;
                                                    font-weight: 700;
                                                    font-size: 18px;
                                                    line-height: 28px;
                                                    "></p>
                            </div>
                            <div class="flex flex-col shrink">
                                <p id="right-time" class="flex grow ml-2 mt-2 mb-1 uppercase" style="
                                                    align-items: center;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    font-size: 16px;
                                                    line-height: 20px;
                                                    "></p>
                                <p id="right-genre" class="flex grow ml-2 mb-1 uppercase" style="
                                                    align-items: center;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    font-size: 16px;
                                                    line-height: 20px;
                                                    color: #252525;
                                                    "></p>
                            </div>
                        </div>
                        <div class="border border-l-2" style="width: 130px; height: 130px; overflow: hidden;">
                            <img id="right-image" src="" class="object-scale-down"
                                style="width: 100%; height: 100%;margin: auto;display: block;">
                        </div>
                    </div>
                    <div id="right-description-div" class="inline-flex grow-0 text-wrap border border-t-0"
                        style="display: none;">
                        <p id="right-description" class="my-1 mx-2" style="
                                        font-family: 'Roboto Condensed';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 15px;
                                        line-height: 20px;
                                        width: fit-content;
                                        display: inline-block;
                                        "></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .link-style:hover {
        /* Wavy underline on hover */
        text-decoration: underline;
        text-decoration-style: wavy;
        color: rgba(var(--color-neutral-500),var(--tw-text-opacity));
    }

    .link-style {
        
        /* Wavy underline on hover */
        text-decoration: underline;
        text-decoration-style: solid;
    }

    #show-details-body {
        overflow: hidden !important;
        transition: height 0.3s ease-out !important;
        height: auto;
    }

    /* If less than 916px, change #two-cols to flex-col */
    @media (max-width: 916px) {
        #two-cols {
            flex-direction: column;
        }
        #left-col {
            margin-left: max(0px, 5%);
            margin-right: max(0px, 5%);
            margin-bottom: 1rem;
        }
        #right-col {
            margin-left: max(0px, 5%);
            margin-right: max(0px, 5%);
        }
    }
</style>