<!-- Import JS -->
{{ $jsStore := resources.Get "js/store2.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" src="{{ $jsStore.RelPermalink }}"
  integrity="{{ $jsStore.Data.Integrity }}"></script>
{{ $jsDetails := resources.Get "js/details.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" src="{{ $jsDetails.RelPermalink }}"
  integrity="{{ $jsDetails.Data.Integrity }}"></script>
{{ $jsTutorial := resources.Get "js/tutorial.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" src="{{ $jsTutorial.RelPermalink }}"
  integrity="{{ $jsTutorial.Data.Integrity }}"></script>

{{ $jsCron := resources.Get "js/cron-schedule.iife.min.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" src="{{ $jsCron.RelPermalink }}" integrity="{{ $jsCron.Data.Integrity }}"></script>
{{ $jsShow := resources.Get "js/show2.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="module" src="{{ $jsShow.RelPermalink }}" integrity="{{ $jsShow.Data.Integrity }}"></script>
{{ $jsShow := resources.Get "js/spins2.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" src="{{ $jsShow.RelPermalink }}" integrity="{{ $jsShow.Data.Integrity }}"></script>

{{ $jsHowl := resources.Get "js/loudest.core.min.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" src="{{ $jsHowl.RelPermalink }}" integrity="{{ $jsHowl.Data.Integrity }}"></script>
{{ $jsStream := resources.Get "js/stream.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" src="{{ $jsStream.RelPermalink }}"
  integrity="{{ $jsStream.Data.Integrity }}"></script>

<!-- Reference for Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Currently coded in mix of Tailwind and standard CSS -->
<!-- Navigation bar without margins
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  height: 58px;
  margin-left: -50vw;
  margin-right: -50vw;
  color: black;
 -->
<div id="nav" class="font-medium text-sm z-10">
  <div class="px-6 mt-4 max-w-7xl m-auto">
    <div class="flex justify-between items-center" style="
      border: 1px solid black;
      height: 58px;
      overflow: hidden;
      ">
      <div class="flex px-0 items-center" style="
      border-right: 1px solid black;
      height: 100%;
      min-width: 100px;
      ">
        <a class="p-0 flex items-center justify-center" href="/" style="
        width: 100%; 
        height: 100%;
        ">
          <div class="px-1">
            <img id="kscu-logo" class="mx-0" src="/kscu_logo.svg" alt="KSCU Logo" width="120"></img>
          </div>
        </a>
      </div>
      <!-- Vertical Flexbox -->
      <div class="flex flex-col w-screen">
        <!-- Top Row Flexbox -->
        <div id="top-row" class="flex justify-between items-center" style="
          height: 29px;
          ">
          <div class="flex grow max-h-[30px] items-center">
            <div id="live-and-circle" class="flex shrink items-center">
              <!-- id live-play for text live and divisor for mobile -->
              <p id="live-play" class="px-2 font-bold">LIVE</p>
              <span id="live-now-circle"></span>
            <div id="live-play" style="
              align-self: start;
              height: 30px; 
              width: 1px; 
              background-color: black; 
              
              "></div>
            <div style="
            background-color: black;
            height: 100%;"></div>
            </div>
            <!-- play for play button, volume for volume button -->
            <div id="play-pause" class="flex m-0 px-0 py-0" style="align-self: start;">
              <button>
                <img id="play" src="/play-solid.svg" alt="Click to Play" width="12" style="
                  margin-top: 8px; 
                  margin-bottom: 6px; 
                  margin-left: 14px; 
                  margin-right: 14px; 
                  transition: filter 0.1s;
                  ">
                <img id="pause" src="/pause-solid.svg" alt="Click to Pause" height="12" width="12" style="
                  margin-top: 6px; 
                  margin-bottom: 8px; 
                  margin-left: 14px; 
                  margin-right: 14px; 
                  transition: filter 0.1s; 
                  display:none;
                  ">
                <img id="loader" src="/tower-broadcast-solid.svg" alt="Loading" height="12" width="12" style="
                  margin-top: 8px; 
                  margin-bottom: 6px;
                  margin-left: 14px; 
                  margin-right: 14px; 
                  transition: filter 0.1s;
                  display:none;
                  ">
              </button>
            </div>
            <div id="volume-icon" style="
              align-self: start;
              height: 30px; 
              width: 1px; 
              background-color: black;
              "></div>
            <div id="desktop-volume-div" class="flex m-0 px-0 py-0" style="align-self: start;">
              <!-- Icon to toggle volume slider -->
              <button onclick="toggleVolume()">
                <img id="volume-i" src="/volume.svg" alt="Volume Icon" width="20" height="20" style="
                align-self: start;
                  margin-top: 6px; 
                  margin-bottom: 6px; 
                  margin-left: 0.60rem; 
                  margin-right: 0.60rem; 
                  transition: filter 0.1s;
                  "></img>
              </button>
            </div>
            <!-- Volume slider -->
            <div class="absolute">
              <div id="player" style="display: none;">
                <i class="fa fa-volume-up absolute" style="
                  top:0; 
                  margin-left: 14px; 
                  margin-top: 4px;
                  "></i>
                <input type="range" min="1" max="100" value="100" class="slider" id="volume"
                  onchange="showValue(this.value)" oninput="showValue(this.value)">
                <i class="fa fa-volume-down absolute" style="bottom:0; 
                  margin-left: 16px; 
                  margin-bottom: 4px;
                  "></i>
              </div>
            </div>
            <!-- contain to row by setting height to 29px -->
            <div id="volume-line" style="
              height: 30px; 
              width: 1px; 
              background-color: black;
              "></div>
            <div class="flex flex-row grow justify-left">
              <button id="info-2">
                <img id="info-img-2" class="mx-2" src="/info-filled.svg" alt="Show Details" style="
                                            margin-top: 8px;
                                            margin-bottom: 6px;
                                            transition: filter 0.1s;
                                            min-width: 17px;
                                            " width="17">
              </button>
              <div id="padding-without-info" class="pl-2">
                <span class="whitespace-nowrap overflow-hidden" style="
       text-align: center;
       white-space: normal;
       word-break: nowrap;
       padding-top: 10px;
       padding-bottom: 10px;
       display: flex;
  justify-content: center;
  align-items: center;
" id="show_title"></span>
              </div>
            </div>
          </div>
          <!-- Page reference links -->
          <button id="info" style="display: none;">
            <img id="info-img" src="/info-filled.svg" alt="Show Details" style="
                              margin-top: 8px;
                              margin-bottom: 6px;
                              margin-left: 3px;
                              margin-right: 7px;
                              transition: filter 0.1s;
                              min-width: 17px;
                              " width="17">
          </button>
          <div id="page-links" class="flex items-center" style="
            padding-right: 1rem;
            ">
            <div style="
              height: 30px; 
              width: 1px; 
              background-color: black;
              "></div>
            <ul class="flex list-none text-[15px] ltr:text-right rtl:text-left sm:flex-row">
              {{ if .Site.Menus.main }}
              {{ range .Site.Menus.main }}
              <li style="margin-left: 1rem;">
                <a class="decoration-primary-500 hover:text-neutral-500 hover:underline hover:decoration-1 hover:underline-offset-2 hover:text-gray-400 hover:decoration-wavy"
                  style="
                  text-decoration-skip-ink: none;" href="{{ .URL }}" title="{{ .Title }}">{{
                  .Name
                  | markdownify | emojify }}</a>
              </li>
              {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
        <!-- Black divider line -->
        <!-- width: full for screens of width at least 375px -->
        <div style="
        width: screen;
        height: 1px;
        background-color: black;">
        </div>
        <div id="bottom-row" class="flex items-center justify-between">
          <div class="flex items-center justify-between">
            <!-- remove playing text when screen adjusting -->
            <div id="playing-text" class="flex items-center">
              <p class="px-3 py-1 font-bold">PLAYING</p>
            </div>
            <!-- contain to row by setting height to 29px -->
            <div id="playing-text" style="
              height: 30px; 
              width: 1px; 
              background-color: black;
              "></div>
            <div class="flex flex-row whitespace-nowrap">
              <p id="playing-song" class="pl-2 pr-3 py-1" style="
                height: 30px; 
                font-family: 'IBM Plex Mono', monospace;
                ">
              </p>
            </div>
          </div>
          <!-- Social media icons -->
          <div id="social-media" class="flex items-center">
            <div style="
              height: 30px; 
              width: 1px; 
              background-color: black;
              "></div>
            <a href="https://www.instagram.com/kscuradio/?hl=en" target="_blank">
              <i class="fa fa-instagram px-4 hover:text-neutral-400" style="
                font-size: 24px; 
                transition: color 0.1s;
                "></i>
            </a>
            <!-- <a href="https://twitter.com/kscu" target="_blank">
              <i class="fa fa-twitter px-2 hover:text-neutral-400" 
                style="
                font-size: 24px; 
                transition: color 0.1s;
                "></i>
            </a> -->
            <a href="https://open.spotify.com/user/kscu" target="_blank">
              <i class="fa fa-spotify pr-4 hover:text-neutral-400" style="font-size: 24px; 
                transition: color 0.1s;
                "></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Third row appears when screen width gets smaller -->
<div id="third-row-div">
  <div id="third-row" class="font-medium text-sm z-10 overflow-hidden">
    <div class="px-6">
      <div class="flex justify-between items-center" style="
      height: 30px;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black">
        <div class="flex justify-left items-center">
          <!-- Social media icons in third row -->
          <!-- Disappears when screen width gets too small -->
          <!-- Play pause buttons in third row -->
          <div class="flex-grow m-0 px-0 py-0">
            <button id="play-pause-mobile" class="">
              <img id="play-mobile" src="/play-solid.svg" alt="Click to Play" height="12" width="12" style="
                margin-top: 12px; 
                margin-bottom: 6px; 
                margin-left: 14px; 
                margin-right: 14px; 
                transition: filter 0.1s;
                ">
              <img id="pause-mobile" src="/pause-solid.svg" alt="Click to Pause" height="12" width="12" style="
                margin-top: 12px; 
                margin-bottom: 6px; 
                margin-left: 14px; 
                margin-right: 14px; 
                transition: filter 0.1s; 
                display: none;
                ">
              <img id="loader-mobile" src="/tower-broadcast-solid.svg" alt="Loading" height="12" width="12" style="
                margin-top: 12px; 
                margin-bottom: 6px; 
                margin-left: 14px; 
                margin-right: 14px; 
                transition: filter 0.1s; 
                display: none;
                ">
            </button>
          </div>
          <div style="
            height: 30px; 
            width: 1px; 
            background-color: black;
            "></div>
          <div id="mobile-volume" class="flex-grow m-0 px-0 py-0">
            <!-- Volume slider icon that toggles in third row -->
            <button onclick="toggleVolume()">
              <img id="volume-i" src="/volume.svg" alt="Volume Icon" width="20" height="20" style="
                margin-top: 10px; 
                margin-bottom: 4px; 
                margin-left: 0.60rem; 
                margin-right: 0.60rem; 
                transition: filter 0.1s;
                "></img>
            </button>
          </div>
          <div id="mobile-volume-bar" style="
            height: 30px; 
            width: 1px; 
            background-color: black;
            "></div>
          <div id="new-social-media" class="flex items-center" style="
                      padding-top: 0.1rem;
                      ">
            <a href="https://www.instagram.com/kscuradio/?hl=en" target="_blank">
              <i class="fa fa-instagram px-3  hover:text-neutral-500" style="
                          font-size: 24px; 
                          transition: color 0.1s;
                          "></i>
            </a>
            <!-- <a href="https://twitter.com/kscu" target="_blank">
                        <i class="fa fa-twitter px-2 hover:text-neutral-500" 
                          style="
                          font-size: 24px; 
                          transition: color 0.1s;
                          "></i>
                      </a> -->
            <a href="https://open.spotify.com/user/kscu" target="_blank">
              <i class="fa fa-spotify pr-3 hover:text-neutral-500" id="new-spotify" style="
                          font-size: 24px; 
                          transition: color 0.1s;
                          "></i>
            </a>
            <div style="
            height: 33px; 
            width: 1px; 
            background-color: black;
                        "></div>
          </div>
        </div>

        <!-- Page links in third row -->
        <div id="new-page-links" class="flex items-center" style="
          padding-right: 1rem; 
          height: 30px;
          ">
          <div id="new-page-links-bar" style="
            height: 30px; 
            width: 1px; 
            background-color: black;
            "></div>
          <ul class="flex list-none text-[15px] ltr:text-right rtl:text-left sm:flex-row">
            {{ if .Site.Menus.main }}
            {{ range .Site.Menus.main }}
            <li style="
              margin-left: 1rem;
              ">
              <a class="decoration-primary-500 hover:text-neutral-500 hover:underline hover:decoration-1 hover:underline-offset-2 hover:text-gray-400 hover:decoration-wavy"
                style="
                text-decoration-skip-ink: none;" href="{{ .URL }}" title="{{ .Title }}">{{
                .Name
                | markdownify | emojify }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CSS -->
<style>
  /* Effects for flashing red dot */
  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(191, 81, 77, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(191, 81, 77, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(191, 81, 77, 0);
    }
  }

  /* CSS for flashing red dot*/
  #live-now-circle {

    /* display: flex; */
    width: 12px;
    height: 12px;
    background-color: rgb(191, 81, 77);

    border-radius: 6px;
    opacity: 100;
    display: inline-block;

    box-shadow: 0 0 0 0 rgb(48, 27, 27);
    transform: scale(1);
    animation: pulse-red 3s infinite;
    animation-play-state: running;
    margin-right: 0.5rem;
  }

  /* Media queries for screen width adjustment */
  /* hides third row until screen width gets smaller */
  @media (min-width: 891px) {
    #third-row {
      display: none;
    }

    #info-2 {
      display: none;
    }

    #info {
      display: block !important;
    }

    #player {
      position: relative;
      top: 88px;
      left: 110px;
    }
  }

  @media (max-width: 891px) {
    #padding-without-info {
      padding-left: 0px;
    }
  }

  /* move social media, page links, play button, and volume button to third row */
  @media (max-width: 890px) {
    #social-media {
      display: none;
    }

    #page-links {
      display: none;
    }

    #volume-icon {
      display: none;
    }

    #desktop-volume-div {
      display: none;
    }

    #play-pause {
      display: none;
    }

    #volume-line {
      display: none;
    }

    #player {
      position: absolute;
      top: 75px;
      left: -66px;
    }
  }

  @media (max-width: 680px) {
    #player {
      left: -63px;
    }
  }

  /* remove play text to make more room for song text*/
  @media (max-width: 650px) {
    #playing-text {
      display: none;
    }
  }

  @media (max-width: 470px) {
    #new-page-links-bar {
      display: none;
    }
  }

  /* remove live text to make more room for dj text */
  @media (max-width: 550px) {
    #live-play {
      display: none;
    }

    #live-and-circle {
      display: none;
    }
  }

  /* remove social media icons to make room in mobile */

  @media (max-width: 384px) {
    #new-page-links-bar {
      display: none;
    }


  }

  @media (max-width: 384px) {
    #new-social-media {
      display: none;
    }

    #mobile-volume-bar {
      display: block;
    }
  }

  @media (max-width: 460px) {
    #new-spotify {
      display: none;
    }

    #player {
      position: absolute;
      top: 75px;
      left: -63px;
    }
  }

  @media (max-width: 338px) {
    #mobile-volume {
      display: none;
    }

    #mobile-volume-bar {
      display: none;
    }
  }

  @media (max-width: 652px) {
    #third-row > div {
      padding-left: 4%;
      padding-right: 4%;
    }

    #nav > div {
      padding-left: 4%;
      padding-right: 4%;
    }
  }

  /* Location and visual appearance of volume slider */
  #player {
    width: 40px;
    height: 145px;
    background-color: rgb(237 232 224);
    border-radius: 5px;
    display: none;
    box-shadow: 1px 1px 5px rgb(104, 102, 100);
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    width: 100px;
    height: 4px;
    background: rgb(187, 183, 177);
    outline: none;
    left: -30px;
    top: 71px;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: rgb(105, 103, 100);
    border-radius: 10px;
    cursor: pointer;
  }

  /* Hover effects for SVG logos */
  a:hover>div>#kscu-logo {
    filter: invert(40%);
  }

  

  @media (any-hover: hover) {
    button:hover>#volume-i {
      filter: invert(40%);
    }

    button:hover>#play {
      filter: invert(40%);
    }

    button:hover>#play-mobile {
      filter: invert(40%);
    }

    button:hover>#pause {
      filter: invert(40%);
    }

    button:hover>#pause-mobile {
      filter: invert(40%);
    }
    button:hover>#info-img {
      filter: invert(40%);
    }

    button:hover>#info-img-2 {
    filter: invert(40%);
  }
  }

  blockquote {
    border-left-color: #363940 !important;
  }
</style>
<!-- {{ $jsStore := resources.Get "js/store2.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" src="{{ $jsStore.RelPermalink }}"
  integrity="{{ $jsStore.Data.Integrity }}"></script> -->
<!-- {{ $jsShow := resources.Get "js/show.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" src="{{ $jsShow.RelPermalink }}" integrity="{{ $jsShow.Data.Integrity }}"></script>
{{ $jsShow := resources.Get "js/spins.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" src="{{ $jsShow.RelPermalink }}" integrity="{{ $jsShow.Data.Integrity }}"></script> -->

<script>
  /* Function to display and hide volume slider when pressing button */
  function toggleVolume() {
    const volumeSlider = document.getElementById("player")
    const gap = document.getElementById("volume-line")

    if (volumeSlider.style.display === "none") {
      volumeSlider.style.display = "block";
      //gap.style.marginLeft = "-40px";
    } else {
      volumeSlider.style.display = "none";
      gap.style.marginLeft = "0px";
    }
  }


</script>