<!-- Currently coded in mix of Tailwind and standard CSS -->
<div class="font-medium text-sm shadow-lg"
  style="
  position: fixed; 
  left: 0; 
  right: 0; 
  top: 0; 
  background-color: black; 
  color: white;">
  <div class="flex justify-between items-center">
    <div class="flex px-3 items-center" style="
      height: 4rem;
      border-style: none solid none none;
      border-color: white;
      border-width: 0.2rem;">
      <!-- TODO change to logo instead of text -->
      <p class="font-bold" style="
        font-size: 3rem;
        padding-bottom: 0.5rem; 
        ">
        <!-- Padding to help center, could not center otherwise -->
         KSCU</p>
    </div>
    <div class="flex flex-col w-screen">
      <div class="flex justify-between items-center">
        <div class="flex px-3 py-1 items-center">
          <span id="live-now-circle"></span>
          <p class="px-3">LIVE</p>
        </div>
        <div style="padding-right: 2rem;">
          <ul class="flex flex-col list-none ltr:text-right rtl:text-left sm:flex-row">
            {{ if .Site.Menus.main }}
            {{ range .Site.Menus.main }}
            <li class="mb-1 sm:mb-0 ltr:sm:mr-7 ltr:sm:last:mr-0 rtl:sm:ml-7 rtl:sm:last:ml-0">
              <a class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2" href="{{ .URL }}"
                title="{{ .Title }}">{{ .Name | markdownify | emojify }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
      <div style="
        width: screen;
        height: 0.1rem;
        background-color: white;">
      </div>
      <!-- TODO connect API to this playing -->
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 24 24" stroke="black" style="
          background-color: white;
          color: black;
          height: 1.75rem;
          margin-top: 0.1rem;
           ">
           <!-- Margin-top to even out the gap at the bottom -->
          <path strokeLinecap="round" strokeLinejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
        </svg>        
        <p class="px-3 py-1">PLAYING: Ruckus (feat. Richard Judge) - Club Edit, Mixed</p>
      </div>
    </div>
  </div>
</div>
<style>
  @keyframes pulse-red {
      0% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
      }
  
      70% {
          transform: scale(1);
          box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
      }
  
      100% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
      }
  }
  #live-now-circle {

      /* display: flex; */
      width: 12px;
      height: 12px;
      background-color: #b11010;

      border-radius: 6px;
      opacity: 100;
      display: inline-block;

      box-shadow: 0 0 0 0 rgb(48, 27, 27);
      transform: scale(1);
      animation: pulse-red 2s infinite;
      animation-play-state: running;
      margin-right: 1px
  }
</style>

