<!-- Reference for Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Currently coded in mix of Tailwind and standard CSS -->
<!-- 
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  height: 58px;
  margin-left: -50vw;
  margin-right: -50vw;
  color: black;
 -->
<div id="nav" class="font-medium text-sm z-10">
  <div class="px-10 py-2 max-w-7xl m-auto">
    <div class="flex justify-between items-center" style="
      border: 1px solid black;
      height: 58px;">
      <div class="flex px-3 py-6 items-center" style="
      border-right: 1px solid black;
      height: 100%;">
        <a href="/">
          <img src="/kscu_logo.svg" alt="KSCU Logo" width="120"></img>
        </a>
      </div>
      <!-- Vertical Flexbox -->
      <div class="flex flex-col w-screen">
        <!-- Top Row Flexbox -->
        <div id="top-row" class="flex justify-between items-center" style="height: 29px;">
          <div class="flex px-1 items-center">
            <div class="flex items-center py-1">
              <!-- id live-play for text live and divisor -->
              <p id="live-play" class="px-2 font-bold">LIVE</p>
              <span id="live-now-circle"></span>
            </div>
            <div id="live-play" style="height: 28px; width: 1px; background-color: black; margin-left: 0.5rem;"></div>
            <div style="
            background-color: black;
            width: 0.15rem;
            height: 100%;"></div>
            <!-- play-volume for play and volume icons -->
            <div id="play-volume" class="px-1">
              <!-- Need to connect web player api to this svg -->
              <img src="/play_button.svg" alt="Click to Play" height="12" width="12"
                style="margin-left: 0.3rem; margin-right: 0.3rem;">
            </div>
            <div id="play-volume" style="height: 28px; width: 1px; background-color: black;"></div>
            <div id="play-volume" class="px-1">
              <!-- Need to connect volume adjustor to this svg -->
              <img src="/volume.svg" alt="Volume Icon" width="20" height="20"
                style="margin-left: 0.3rem; margin-right: 0.3rem;"></img>
            </div>
            <!-- contain to row by setting height to 29px -->
            <div id="play-volume" style="height: 28px; width: 1px; background-color: black;"></div>
            <div>
              <p class="px-3"><b>The Redwood Rewind</b><span style="font-family: 'IBM Plex Mono', monospace; height: 28px;"> with
                </span><b>DJ Mist</b></p>
            </div>
          </div>
          <div id="page-links" class="flex items-center" style="padding-right: 1rem;">
            <div style="height: 28px; width: 1px; background-color: black;"></div>
            <ul class="flex list-none ltr:text-right rtl:text-left sm:flex-row">
              {{ if .Site.Menus.main }}
              {{ range .Site.Menus.main }}
              <li style="margin-left: 1rem;">
                <a class="decoration-primary-500 hover:text-neutral-500"
                  href="{{ .URL }}" title="{{ .Title }}">{{ .Name | markdownify | emojify }}</a>
              </li>
              {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
        <!-- White divider line -->
        <div style="
        width: screen;
        height: 1px;
        background-color: black;">
        </div>
        <!-- TODO connect API to this playing -->
        <div id="bottom-row" class="flex items-center justify-between">
          <div class="flex items-center justify-between">
            <!-- remove playing text when screen adjusting -->
            <div id="playing-text" class="flex items-center">
              <p class="px-3 py-1 font-bold">PLAYING</p>
            </div>
            <!-- contain to row by setting height to 29px -->
            <div id="playing-text" style="height: 28px; width: 1px; background-color: black;"></div>
            <div>
              <p class="px-3 py-1" style="height: 30px; font-family: 'IBM Plex Mono', monospace;">Ruckus (feat. Richard
                Judge) - Club Edit, Mixed</p>
            </div>
          </div>
          <div id="social-media" class="flex items-center" style="padding-right: 1rem">
            <div style="height: 28px; width: 1px; background-color: black; margin-right: 1rem;"></div>
            <a href="https://www.instagram.com/kscuradio/?hl=en" target="_blank">
              <i class="fa fa-instagram px-2 hover:text-neutral-500" style="font-size: 24px; color: black;"></i>
            </a>
            <a href="https://twitter.com/kscu" target="_blank">
              <i class="fa fa-twitter px-2 hover:text-neutral-500" style="font-size: 24px; color: black;"></i>
            </a>
            <a href="https://open.spotify.com/user/kscu" target="_blank">
              <i class="fa fa-spotify px-2 hover:text-neutral-500" style="font-size: 24px; color: black;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- create a third row when screen width is too small-->
<div id="third-row">
  <div id="third-row" class="font-medium text-sm z-10" style="
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  top: 8px;
  margin-left: -50vw;
  margin-right: -50vw;">
    <div class="px-10">
      <div class="flex justify-between items-center" style="
      height: 30px;
      border-bottom: 0.1rem solid;
      border-left: 0.1rem solid;
      border-right: 0.1rem solid">
        <div class="flex justify-left items-center">
          <div id="new-social-media" class="flex items-center" style="padding-left: 0.5rem; padding-top: 0.1rem">
            <a href="https://www.instagram.com/kscuradio/?hl=en" target="_blank">
              <i class="fa fa-instagram px-2" style="font-size: 24px; color: black;"></i>
            </a>
            <a href="https://twitter.com/kscu" target="_blank">
              <i class="fa fa-twitter px-2" style="font-size: 24px; color: black;"></i>
            </a>
            <a href="https://open.spotify.com/user/kscu" target="_blank">
              <i class="fa fa-spotify px-2" style="font-size: 24px; color: black;"></i>
            </a>
            <div style="height: 30px; width: 1px; background-color: black; margin-left: 0.5rem;"></div>
          </div>
          <div class="px-1">
            <!-- Need to connect web player api to this svg -->
            <img src="/play_button.svg" alt="Click to Play" height="12" width="12"
              style="margin-left: 0.5rem; margin-right: 0.3rem;">
          </div>
          <div style="height: 30px; width: 1px; background-color: black;"></div>
          <div class="px-1">
            <!-- Need to connect volume adjustor to this svg -->
            <img src="/volume.svg" alt="Volume Icon" width="20" height="20"
              style="margin-left: 0.3rem; margin-right: 0.3rem;"></img>
          </div>
          <div style="height: 30px; width: 1px; background-color: black;"></div>
        </div>

        <div id="new-page-links" class="flex items-center" style="padding-right: 1rem; height: 30px;">
          <div style="height: 30px; width: 1px; background-color: black;"></div>
          <ul class="flex list-none ltr:text-right rtl:text-left sm:flex-row">
            {{ if .Site.Menus.main }}
            {{ range .Site.Menus.main }}
            <li style="margin-left: 1rem;">
              <a class="hover:text-neutral-500"
                href="{{ .URL }}" title="{{ .Title }}">{{ .Name | markdownify | emojify }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }

  #live-now-circle {

    /* display: flex; */
    width: 12px;
    height: 12px;
    background-color: #b11010;

    border-radius: 6px;
    opacity: 100;
    display: inline-block;

    box-shadow: 0 0 0 0 rgb(48, 27, 27);
    transform: scale(1);
    animation: pulse-red 2s infinite;
    animation-play-state: running;
    margin-right: 1px
  }

  /* hides third row until screen width gets smaller */
  @media (min-width: 821px) {
    #third-row {
      display: none;
    }
  }

  /* move social media, page links, play button, and volume button to third row */
  @media (max-width: 820px) {
    #social-media {
      display: none;
    }

    #page-links {
      display: none;
    }

    #play-volume {
      display: none;
    }
  }

  /* remove play text to make more room for song text*/
  @media (max-width: 650px) {
    #playing-text {
      display: none;
    }
  }

  /* remove live text to make more room for dj text */
  @media (max-width: 550px) {
    #live-play {
      display: none;
    }

    #live-now-circle {
      margin-left: 0.5rem;
    }
  }
</style>

{{ $jsStore := resources.Get "js/store2.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" src="{{ $jsStore.RelPermalink }}"
  integrity="{{ $jsStore.Data.Integrity }}"></script>
{{ $jsShow := resources.Get "js/show.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" src="{{ $jsShow.RelPermalink }}" integrity="{{ $jsShow.Data.Integrity }}"></script>