{{< twitter_simple user="userID" id="tweetID" >}}
<!-- To embed a tweet, put the user's id (their @username) in the "" for user -->
<!-- and put the tweet's ID (the end of it's url when your viewing the tweet) in the "" for id -->