{{- partial "partials/functions/warnings.html" .Site -}}
<!DOCTYPE html>
<meta name="theme-color" content="#ede8e0">
<html lang="{{ with .Site.Params.isoCode | default (.Site.LanguageCode | default " en") }} {{- . -}} {{ end }}" dir="{{ if .Site.Params.rtl | default false -}}
    rtl
  {{- else -}}
    ltr
  {{- end }}" class="scroll-smooth">
{{- partial "head.html" . -}}

<body
  class="flex flex-col h-screen text-lg leading-7 bg-[#ede8e0] text-neutral-900 dark:bg-neutral-800 dark:text-neutral">
  <!-- <div id="the-top" class="absolute flex self-center">
      <a
        class="px-3 py-1 text-sm -translate-y-8 rounded-b-lg bg-primary-200 focus:translate-y-0 dark:bg-neutral-600"
        href="#main-content"
        ><span class="font-bold text-primary-600 ltr:pr-2 rtl:pl-2 dark:text-primary-400"
          >&darr;</span
        >{{ i18n "nav.skip_to_main" }}</a
      >
    </div> -->
  {{ $jsPurify := resources.Get "js/purify.min.js" | resources.Minify | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $jsPurify.RelPermalink }}" integrity="{{ $jsPurify.Data.Integrity }}"></script>
  {{ $header := print "partials/header/" .Site.Params.header.layout ".html" }}
  {{ if templates.Exists $header }}
  {{ partial $header . }}
  {{ else }}
  {{ partial "partials/header/basic.html" . }}
  {{ end }}
  
  {{ partial "partials/show-details.html" . }}

  <div class="font-medium text-sm">
    {{ if (.Params.showTableOfContents | default (.Site.Params.article.showTableOfContents | default false)) }}
    <style>
      #main-content {
        max-width: 72rem;
      }
    </style>
    <!-- Else -->
    {{ else }}
    <style>
      /* #main-content {
        max-width: 72rem;
      } */
    </style>
    {{ end }}
    <main id="main-content" class="grow z-0 mt-5 px-10 py-2 max-w-4xl m-auto">
      {{ block "main" . }}{{ end }}
      {{ if and (.Site.Params.footer.showScrollToTop | default false) (gt .WordCount 200) }}
      <div class="pointer-events-none absolute top-[100vh] bottom-0 w-12 ltr:right-0 rtl:left-0">
        <a href="#the-top"
          class="pointer-events-auto sticky top-[calc(100vh-5.5rem)] flex h-12 w-12 items-center justify-center rounded-full bg-neutral/50 text-xl text-neutral-700 backdrop-blur hover:text-primary-600 dark:bg-neutral-800/50 dark:text-neutral dark:hover:text-primary-400"
          aria-label="{{ i18n " nav.scroll_to_top_title" }}" title="{{ i18n " nav.scroll_to_top_title" }}">
          &uarr;
        </a>
      </div>
      {{ end }}
    </main>
  </div>
  {{ $jsGsap := resources.Get "js/gsap.min.js" | resources.Minify | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $jsGsap.RelPermalink }}" integrity="{{ $jsGsap.Data.Integrity }}"></script>
  {{- partial "footer.html" . -}}
  <canvas id="canvas" style="z-index: 1; display: none;"></canvas>
</body>

</html>